@use '_fonts';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #FFF;
}

body { overflow: hidden }

button,
input,
img,
time { user-select: none }

button {
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

input {
	background: transparent;
	border: none;

	&:focus { outline: none }
}

li { list-style: none }

img.app-icon {
	width: 16px;

	&.app-icon-textDoc,
	&.app-icon-pdf {
		width: 14px;
	}
}