@use '_fonts';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #FFF;
}

body { overflow: hidden }

textarea,
button,
option,
select,
input,
label,
body,
a { cursor: none }

button,
input,
time,
img { user-select: none }

button {
	outline: none;
	border: none;
	background-color: transparent;
}

input {
	background: transparent;
	border: none;

	&:focus { outline: none }
}

li { list-style: none }

img.app-icon {
	width: 16px;

	&.app-icon-textDoc,
	&.app-icon-pdf {
		width: 14px;
	}
}

.error-messages {
	width: 260px;
	margin-top: 12px;
	display: flex;
	flex-direction: column;
	gap: 6px;
	
	li {
		list-style: '*';
		font-size: 14px;
		color: rgb(143, 0, 0);
		padding-left: 10px;
	}
}